In [2]:
# store data set csv
Hollywood = '/Users/mac/CLASS/Project-1/clean_highest_gross_movies_df_clean..csv'
IMDb = '/Users/mac/CLASS/Project-1/clean_IMDb_movie_data.csv'

In [3]:
#import dependencies 
import pandas as pd
from pathlib import Path
import os

In [4]:
#read csv and store as df
hollywood_df = pd.read_csv(Hollywood)
IMDb_df = pd.read_csv(IMDb)

/var/folders/bp/ghj2hg8n63ngp97nh99m0cr80000gn/T/ipykernel_7200/2599514316.py:3: DtypeWarning: Columns (9,10,11,14) have mixed types. Specify dtype option on import or set low_memory=False.
  IMDb_df = pd.read_csv(IMDb)

In [5]:
#check dataset df
hollywood_df.head(3)

,year,Unnamed: 0,title,Movie Info,Distributor,budget,Domestic Opening (in $),Domestic Sales (in $),International Sales (in $),gross,genre,runtime,license,release_date,runtime_minutes
0,1937,966,Snow White and the Seven Dwarfs,Exiled into the dangerous forest by her wicked...,Walt Disney Studios Motion Pictures,211937.0,1499000.0,184925486.0,184925486.0,184928542.0,"['Drama', 'Musical', 'Romance']",2 hr 7 min,PG-13,2001-05-18,127
1,1939,344,Gone with the Wind,A sheltered and manipulative Southern belle an...,Metro-Goldwyn-Mayer (MGM),130000000.0,151939.0,200882193.0,201500000.0,402382193.0,"['Adventure', 'Mystery', 'Sci-Fi']",2 hr 4 min,R,2012-05-30,124
2,1942,615,Bambi,The story of a young deer growing up in the fo...,RKO Radio Pictures,150000000.0,211942.0,102247150.0,165200000.0,267447150.0,"['Action', 'Drama', 'Mystery', 'Sci-Fi', 'Thri...",2 hr 44 min,R,2017-10-04,164

In [6]:
#check data set df
IMDb_df.head(3)

,year,title,license,runtime,genre,rating,director,star,gross,name,released,writer,budget,gross.1,company
0,0.0,Untitled Bill Sargent Project,0,0.0,"Biography, Comedy, Drama",0.0,0,0,0.0,0,0,0,0.0,0.0,0
1,0.0,Cody - The Stunning Enterprises of Buffalo Bill,0,0.0,Biography,0.0,0,0,0.0,0,0,0,0.0,0.0,0
2,0.0,We'll Fix It In Post,0,0.0,"Biography, Comedy",0.0,Art Hall,"Art Hall, \nMike Barroga, \nChris Walls",0.0,0,0,0,0.0,0.0,0

In [7]:
# Combine Datasets
combined_movie_df = pd.concat([hollywood_df, IMDb_df], ignore_index=True)
combined_movie_df.head()

,year,Unnamed: 0,title,Movie Info,Distributor,budget,Domestic Opening (in $),Domestic Sales (in $),International Sales (in $),gross,...,release_date,runtime_minutes,rating,director,star,name,released,writer,gross.1,company
0,1937.0,966.0,Snow White and the Seven Dwarfs,Exiled into the dangerous forest by her wicked...,Walt Disney Studios Motion Pictures,211937.0,1499000.0,184925486.0,184925486.0,184928542.0,...,2001-05-18,127.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1939.0,344.0,Gone with the Wind,A sheltered and manipulative Southern belle an...,Metro-Goldwyn-Mayer (MGM),130000000.0,151939.0,200882193.0,201500000.0,402382193.0,...,2012-05-30,124.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1942.0,615.0,Bambi,The story of a young deer growing up in the fo...,RKO Radio Pictures,150000000.0,211942.0,102247150.0,165200000.0,267447150.0,...,2017-10-04,164.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1961.0,802.0,One Hundred and One Dalmatians,When a litter of Dalmatian puppies are abducte...,Walt Disney Studios Motion Pictures,62000000.0,251961.0,144880014.0,71000000.0,215880014.0,...,1994-08-05,141.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1967.0,856.0,The Jungle Book,Bagheera the Panther and Baloo the Bear have a...,Walt Disney Studios Motion Pictures,85000000.0,181967.0,141843612.0,64000000.0,205843612.0,...,2006-12-05,136.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#check data set
combined_movie_df.info()
combined_movie_df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365132 entries, 0 to 365131
Data columns (total 23 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   year                        353040 non-null  float64
 1   Unnamed: 0                  1000 non-null    float64
 2   title                       365132 non-null  object
 3   Movie Info                  1000 non-null    object
 4   Distributor                 1000 non-null    object
 5   budget                      365132 non-null  float64
 6   Domestic Opening (in $)     1000 non-null    float64
 7   Domestic Sales (in $)       1000 non-null    float64
 8   International Sales (in $)  1000 non-null    float64
 9   gross                       365132 non-null  float64
 10  genre                       365132 non-null  object
 11  runtime                     113847 non-null  object
 12  license                     365132 non-null  object
 13  release_date                1000 non-null    object
 14  runtime_minutes             1000 non-null    float64
 15  rating                      356541 non-null  float64
 16  director                    364132 non-null  object
 17  star                        364132 non-null  object
 18  name                        364132 non-null  object
 19  released                    364132 non-null  object
 20  writer                      364132 non-null  object
 21  gross.1                     364132 non-null  float64
 22  company                     364132 non-null  object
dtypes: float64(10), object(13)
memory usage: 64.1+ MB

(365132, 23)

In [9]:
#check for null records
combined_movie_df.isnull().mean() * 100

year                           3.311679
Unnamed: 0                    99.726126
title                          0.000000
Movie Info                    99.726126
Distributor                   99.726126
budget                         0.000000
Domestic Opening (in $)       99.726126
Domestic Sales (in $)         99.726126
International Sales (in $)    99.726126
gross                          0.000000
genre                          0.000000
runtime                       68.820317
license                        0.000000
release_date                  99.726126
runtime_minutes               99.726126
rating                         2.352848
director                       0.273874
star                           0.273874
name                           0.273874
released                       0.273874
writer                         0.273874
gross.1                        0.273874
company                        0.273874
dtype: float64

In [10]:
# Drop Null Records
combined_movie_df = combined_movie_df.fillna(0)

In [11]:
# Check for nulls
combined_movie_df.isnull().sum()

year                          0
Unnamed: 0                    0
title                         0
Movie Info                    0
Distributor                   0
budget                        0
Domestic Opening (in $)       0
Domestic Sales (in $)         0
International Sales (in $)    0
gross                         0
genre                         0
runtime                       0
license                       0
release_date                  0
runtime_minutes               0
rating                        0
director                      0
star                          0
name                          0
released                      0
writer                        0
gross.1                       0
company                       0
dtype: int64

In [12]:
combined_movie_df.head(10)

,year,Unnamed: 0,title,Movie Info,Distributor,budget,Domestic Opening (in $),Domestic Sales (in $),International Sales (in $),gross,...,release_date,runtime_minutes,rating,director,star,name,released,writer,gross.1,company
0,1937.0,966.0,Snow White and the Seven Dwarfs,Exiled into the dangerous forest by her wicked...,Walt Disney Studios Motion Pictures,211937.0,1499000.0,184925486.0,184925486.0,184928542.0,...,2001-05-18,127.0,0.0,0,0,0,0,0,0.0,0
1,1939.0,344.0,Gone with the Wind,A sheltered and manipulative Southern belle an...,Metro-Goldwyn-Mayer (MGM),130000000.0,151939.0,200882193.0,201500000.0,402382193.0,...,2012-05-30,124.0,0.0,0,0,0,0,0,0.0,0
2,1942.0,615.0,Bambi,The story of a young deer growing up in the fo...,RKO Radio Pictures,150000000.0,211942.0,102247150.0,165200000.0,267447150.0,...,2017-10-04,164.0,0.0,0,0,0,0,0,0.0,0
3,1961.0,802.0,One Hundred and One Dalmatians,When a litter of Dalmatian puppies are abducte...,Walt Disney Studios Motion Pictures,62000000.0,251961.0,144880014.0,71000000.0,215880014.0,...,1994-08-05,141.0,0.0,0,0,0,0,0,0.0,0
4,1967.0,856.0,The Jungle Book,Bagheera the Panther and Baloo the Bear have a...,Walt Disney Studios Motion Pictures,85000000.0,181967.0,141843612.0,64000000.0,205843612.0,...,2006-12-05,136.0,0.0,0,0,0,0,0,0.0,0
5,1972.0,667.0,The Godfather,"Don Vito Corleone, head of a mafia family, dec...",Paramount Pictures,6000000.0,302393.0,136381073.0,113960743.0,250341816.0,...,2072-03-15,175.0,0.0,0,0,0,0,0,0.0,0
6,1973.0,297.0,The Exorcist,When a young girl is possessed by a mysterious...,Warner Bros.,261973.0,11000000.0,233005644.0,136017945.0,441306145.0,...,2012-12-19,158.0,0.0,0,0,0,0,0,0.0,0
7,1975.0,258.0,Jaws,When a killer shark unleashes chaos on a beach...,Universal Pictures,7000000.0,7061513.0,265859065.0,210653000.0,476512065.0,...,1975-06-20,124.0,0.0,0,0,0,0,0,0.0,0
8,1977.0,525.0,Close Encounters of the Third Kind,"Roy Neary, an Indiana electric lineman, finds ...",Columbia Pictures,161977.0,20000000.0,135189114.0,171700000.0,306889114.0,...,2012-11-21,97.0,0.0,0,0,0,0,0,0.0,0
9,1977.0,714.0,Saturday Night Fever,"Anxious about his future after high school, a ...",Paramount Pictures,161977.0,3878099.0,94213184.0,142900000.0,237113184.0,...,2000-06-09,118.0,0.0,0,0,0,0,0,0.0,0

In [13]:
combined_movie_df.to_csv('clean_combo_movie_data.csv', index=True)