In [50]:
import pandas as pd
from pathlib import Path
import os

In [51]:
# Store path of csv
highest_gross_movies = '/Users/mac/CLASS/Project-1/Movie_Datasets/Highest Holywood Grossing Movies.csv'

In [52]:
# Read csv and display in df
highest_gross_movies_df = pd.read_csv(highest_gross_movies)
highest_gross_movies_df

,Unnamed: 0,Title,Movie Info,Year,Distributor,Budget (in $),Domestic Opening (in $),Domestic Sales (in $),International Sales (in $),World Wide Sales (in $),Release Date,Genre,Running Time,License
0,0,Avatar,A paraplegic Marine dispatched to the moon Pan...,2009,Twentieth Century Fox,237000000,77025481,785221649,2138484377,2923706026,16-Dec-09,"['Action', 'Adventure', 'Fantasy', 'Sci-Fi']",2 hr 42 min,PG-13
1,1,Avengers: Endgame,After the devastating events of Avengers: Infi...,2019,Walt Disney Studios Motion Pictures,356000000,357115007,858373000,1941066100,2799439100,24-Apr-19,"['Action', 'Adventure', 'Drama', 'Sci-Fi']",3 hr 1 min,PG-13
2,2,Avatar: The Way of Water,Jake Sully lives with his newfound family form...,2022,20th Century Studios,December 14 2022 (EMEA APAC),134100226,684075767,1636174514,2320250281,24-Apr-19,"['Action', 'Adventure', 'Drama', 'Sci-Fi']",3 hr 1 min,PG-13
3,3,Titanic,A seventeen-year-old aristocrat falls in love ...,1997,Paramount Pictures,200000000,28638131,674292608,1590450697,2264743305,19-Dec-97,"['Drama', 'Romance']",3 hr 14 min,PG-13
4,4,Star Wars: Episode VII - The Force Awakens,"As a new threat to the galaxy rises, Rey, a de...",2015,Walt Disney Studios Motion Pictures,245000000,247966675,936662225,1134647993,2071310218,16-Dec-15,"['Action', 'Adventure', 'Sci-Fi']",2 hr 18 min,PG-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,Sweet Home Alabama,A young woman who has reinvented herself as a ...,2002,Walt Disney Studios Motion Pictures,30000000,35648740,127223418,53399006,180622424,27-Sep-02,"['Comedy', 'Romance']",1 hr 48 min,PG-13
996,996,Daddy's Home 2,Having finally gotten used to each other's exi...,2017,Paramount Pictures,69000000,29651193,104029443,76584381,180613824,9-Nov-17,['Comedy'],1 hr 40 min,PG-13
997,997,Hacksaw Ridge,World War II American Army Medic Desmond T. Do...,2016,Lionsgate,40000000,15190758,67209615,113354021,180563636,3-Nov-16,"['Biography', 'Drama', 'History', 'War']",2 hr 19 min,R
998,998,Deja Vu,"After a ferry is bombed in New Orleans, an A.T...",2006,Walt Disney Studios Motion Pictures,75000000,20574802,64038616,116518934,180557550,22-Nov-06,"['Action', 'Crime', 'Sci-Fi', 'Thriller']",2 hr 6 min,PG-13
999,999,M3GAN,A robotics engineer at a toy company builds a ...,2022,Universal Pictures,December 28 2022 (EMEA),30429860,95043350,84925523,179968873,22-Nov-06,"['Action', 'Crime', 'Sci-Fi', 'Thriller']",2 hr 6 min,PG-13

In [53]:
# Check out data
highest_gross_movies_df.info()
highest_gross_movies_df.head()
highest_gross_movies_df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  1000 non-null   int64
 1   Title                       1000 non-null   object
 2   Movie Info                  1000 non-null   object
 3   Year                        1000 non-null   int64
 4   Distributor                 999 non-null    object
 5   Budget (in $)               1000 non-null   object
 6   Domestic Opening (in $)     1000 non-null   object
 7   Domestic Sales (in $)       1000 non-null   int64
 8   International Sales (in $)  1000 non-null   int64
 9   World Wide Sales (in $)     1000 non-null   int64
 10  Release Date                1000 non-null   object
 11  Genre                       1000 non-null   object
 12  Running Time                1000 non-null   object
 13  License                     943 non-null    object
dtypes: int64(5), object(9)
memory usage: 109.5+ KB

,Unnamed: 0,Year,Domestic Sales (in $),International Sales (in $),World Wide Sales (in $)
count,1000.000000,1000.000000,1.000000e+03,1.000000e+03,1.000000e+03
mean,499.500000,2008.181000,1.646405e+08,2.640890e+08,4.228430e+08
std,288.819436,10.585854,1.197541e+08,2.133847e+08,3.054844e+08
min,0.000000,1937.000000,6.752000e+03,2.450000e+07,1.799689e+08
25%,249.750000,2002.000000,9.572506e+07,1.321190e+08,2.272899e+08
50%,499.500000,2010.000000,1.349169e+08,1.941077e+08,3.197148e+08
75%,749.250000,2016.000000,1.983993e+08,3.188993e+08,4.852363e+08
max,999.000000,2023.000000,9.366622e+08,2.138484e+09,2.923706e+09

In [54]:
#display columns
highest_gross_movies_df.columns

Index(['Unnamed: 0', 'Title', 'Movie Info', 'Year', 'Distributor',
       'Budget (in $)', 'Domestic Opening (in $)', 'Domestic Sales (in $)',
       'International Sales (in $)', 'World Wide Sales (in $)', 'Release Date',
       'Genre', 'Running Time', 'License'],
      dtype='object')

In [55]:
missing_data = highest_gross_movies_df.isnull().sum()
missing_data

Unnamed: 0                     0
Title                          0
Movie Info                     0
Year                           0
Distributor                    1
Budget (in $)                  0
Domestic Opening (in $)        0
Domestic Sales (in $)          0
International Sales (in $)     0
World Wide Sales (in $)        0
Release Date                   0
Genre                          0
Running Time                   0
License                       57
dtype: int64

In [56]:
#fill in data missing data
highest_gross_movies_df_clean = highest_gross_movies_df.fillna(0)
highest_gross_movies_df_clean

,Unnamed: 0,Title,Movie Info,Year,Distributor,Budget (in $),Domestic Opening (in $),Domestic Sales (in $),International Sales (in $),World Wide Sales (in $),Release Date,Genre,Running Time,License
0,0,Avatar,A paraplegic Marine dispatched to the moon Pan...,2009,Twentieth Century Fox,237000000,77025481,785221649,2138484377,2923706026,16-Dec-09,"['Action', 'Adventure', 'Fantasy', 'Sci-Fi']",2 hr 42 min,PG-13
1,1,Avengers: Endgame,After the devastating events of Avengers: Infi...,2019,Walt Disney Studios Motion Pictures,356000000,357115007,858373000,1941066100,2799439100,24-Apr-19,"['Action', 'Adventure', 'Drama', 'Sci-Fi']",3 hr 1 min,PG-13
2,2,Avatar: The Way of Water,Jake Sully lives with his newfound family form...,2022,20th Century Studios,December 14 2022 (EMEA APAC),134100226,684075767,1636174514,2320250281,24-Apr-19,"['Action', 'Adventure', 'Drama', 'Sci-Fi']",3 hr 1 min,PG-13
3,3,Titanic,A seventeen-year-old aristocrat falls in love ...,1997,Paramount Pictures,200000000,28638131,674292608,1590450697,2264743305,19-Dec-97,"['Drama', 'Romance']",3 hr 14 min,PG-13
4,4,Star Wars: Episode VII - The Force Awakens,"As a new threat to the galaxy rises, Rey, a de...",2015,Walt Disney Studios Motion Pictures,245000000,247966675,936662225,1134647993,2071310218,16-Dec-15,"['Action', 'Adventure', 'Sci-Fi']",2 hr 18 min,PG-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,Sweet Home Alabama,A young woman who has reinvented herself as a ...,2002,Walt Disney Studios Motion Pictures,30000000,35648740,127223418,53399006,180622424,27-Sep-02,"['Comedy', 'Romance']",1 hr 48 min,PG-13
996,996,Daddy's Home 2,Having finally gotten used to each other's exi...,2017,Paramount Pictures,69000000,29651193,104029443,76584381,180613824,9-Nov-17,['Comedy'],1 hr 40 min,PG-13
997,997,Hacksaw Ridge,World War II American Army Medic Desmond T. Do...,2016,Lionsgate,40000000,15190758,67209615,113354021,180563636,3-Nov-16,"['Biography', 'Drama', 'History', 'War']",2 hr 19 min,R
998,998,Deja Vu,"After a ferry is bombed in New Orleans, an A.T...",2006,Walt Disney Studios Motion Pictures,75000000,20574802,64038616,116518934,180557550,22-Nov-06,"['Action', 'Crime', 'Sci-Fi', 'Thriller']",2 hr 6 min,PG-13
999,999,M3GAN,A robotics engineer at a toy company builds a ...,2022,Universal Pictures,December 28 2022 (EMEA),30429860,95043350,84925523,179968873,22-Nov-06,"['Action', 'Crime', 'Sci-Fi', 'Thriller']",2 hr 6 min,PG-13

In [57]:
highest_gross_movies_df_clean['release date']= pd.to_datetime(highest_gross_movies_df_clean['Release Date'])
highest_gross_movies_df_clean.head()

/var/folders/bp/ghj2hg8n63ngp97nh99m0cr80000gn/T/ipykernel_6082/2237420305.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  highest_gross_movies_df_clean['release date']= pd.to_datetime(highest_gross_movies_df_clean['Release Date'])

,Unnamed: 0,Title,Movie Info,Year,Distributor,Budget (in $),Domestic Opening (in $),Domestic Sales (in $),International Sales (in $),World Wide Sales (in $),Release Date,Genre,Running Time,License,release date
0,0,Avatar,A paraplegic Marine dispatched to the moon Pan...,2009,Twentieth Century Fox,237000000,77025481,785221649,2138484377,2923706026,16-Dec-09,"['Action', 'Adventure', 'Fantasy', 'Sci-Fi']",2 hr 42 min,PG-13,2009-12-16
1,1,Avengers: Endgame,After the devastating events of Avengers: Infi...,2019,Walt Disney Studios Motion Pictures,356000000,357115007,858373000,1941066100,2799439100,24-Apr-19,"['Action', 'Adventure', 'Drama', 'Sci-Fi']",3 hr 1 min,PG-13,2019-04-24
2,2,Avatar: The Way of Water,Jake Sully lives with his newfound family form...,2022,20th Century Studios,December 14 2022 (EMEA APAC),134100226,684075767,1636174514,2320250281,24-Apr-19,"['Action', 'Adventure', 'Drama', 'Sci-Fi']",3 hr 1 min,PG-13,2019-04-24
3,3,Titanic,A seventeen-year-old aristocrat falls in love ...,1997,Paramount Pictures,200000000,28638131,674292608,1590450697,2264743305,19-Dec-97,"['Drama', 'Romance']",3 hr 14 min,PG-13,1997-12-19
4,4,Star Wars: Episode VII - The Force Awakens,"As a new threat to the galaxy rises, Rey, a de...",2015,Walt Disney Studios Motion Pictures,245000000,247966675,936662225,1134647993,2071310218,16-Dec-15,"['Action', 'Adventure', 'Sci-Fi']",2 hr 18 min,PG-13,2015-12-16

In [58]:
highest_gross_movies_df_clean = highest_gross_movies_df_clean.rename(columns= {
    'Title' : 'title',
    'Genre' : 'genre',
    'Year' : 'year',
    'release date' : 'release_date',
    'Budget (in $)' : 'budget',
    'World Wide Sales (in $)' : 'gross',
    'Running Time' : 'runtime',
    'License' : 'license'
    
})

In [59]:
highest_gross_movies_df_clean.head()

,Unnamed: 0,title,Movie Info,year,Distributor,budget,Domestic Opening (in $),Domestic Sales (in $),International Sales (in $),gross,Release Date,genre,runtime,license,release_date
0,0,Avatar,A paraplegic Marine dispatched to the moon Pan...,2009,Twentieth Century Fox,237000000,77025481,785221649,2138484377,2923706026,16-Dec-09,"['Action', 'Adventure', 'Fantasy', 'Sci-Fi']",2 hr 42 min,PG-13,2009-12-16
1,1,Avengers: Endgame,After the devastating events of Avengers: Infi...,2019,Walt Disney Studios Motion Pictures,356000000,357115007,858373000,1941066100,2799439100,24-Apr-19,"['Action', 'Adventure', 'Drama', 'Sci-Fi']",3 hr 1 min,PG-13,2019-04-24
2,2,Avatar: The Way of Water,Jake Sully lives with his newfound family form...,2022,20th Century Studios,December 14 2022 (EMEA APAC),134100226,684075767,1636174514,2320250281,24-Apr-19,"['Action', 'Adventure', 'Drama', 'Sci-Fi']",3 hr 1 min,PG-13,2019-04-24
3,3,Titanic,A seventeen-year-old aristocrat falls in love ...,1997,Paramount Pictures,200000000,28638131,674292608,1590450697,2264743305,19-Dec-97,"['Drama', 'Romance']",3 hr 14 min,PG-13,1997-12-19
4,4,Star Wars: Episode VII - The Force Awakens,"As a new threat to the galaxy rises, Rey, a de...",2015,Walt Disney Studios Motion Pictures,245000000,247966675,936662225,1134647993,2071310218,16-Dec-15,"['Action', 'Adventure', 'Sci-Fi']",2 hr 18 min,PG-13,2015-12-16

In [60]:
highest_gross_movies_df_clean = highest_gross_movies_df_clean.drop(columns=['Release Date'])
highest_gross_movies_df_clean.head()

,Unnamed: 0,title,Movie Info,year,Distributor,budget,Domestic Opening (in $),Domestic Sales (in $),International Sales (in $),gross,genre,runtime,license,release_date
0,0,Avatar,A paraplegic Marine dispatched to the moon Pan...,2009,Twentieth Century Fox,237000000,77025481,785221649,2138484377,2923706026,"['Action', 'Adventure', 'Fantasy', 'Sci-Fi']",2 hr 42 min,PG-13,2009-12-16
1,1,Avengers: Endgame,After the devastating events of Avengers: Infi...,2019,Walt Disney Studios Motion Pictures,356000000,357115007,858373000,1941066100,2799439100,"['Action', 'Adventure', 'Drama', 'Sci-Fi']",3 hr 1 min,PG-13,2019-04-24
2,2,Avatar: The Way of Water,Jake Sully lives with his newfound family form...,2022,20th Century Studios,December 14 2022 (EMEA APAC),134100226,684075767,1636174514,2320250281,"['Action', 'Adventure', 'Drama', 'Sci-Fi']",3 hr 1 min,PG-13,2019-04-24
3,3,Titanic,A seventeen-year-old aristocrat falls in love ...,1997,Paramount Pictures,200000000,28638131,674292608,1590450697,2264743305,"['Drama', 'Romance']",3 hr 14 min,PG-13,1997-12-19
4,4,Star Wars: Episode VII - The Force Awakens,"As a new threat to the galaxy rises, Rey, a de...",2015,Walt Disney Studios Motion Pictures,245000000,247966675,936662225,1134647993,2071310218,"['Action', 'Adventure', 'Sci-Fi']",2 hr 18 min,PG-13,2015-12-16

In [61]:

# Convert 'year' column to numeric (assuming it's not already numeric)
highest_gross_movies_df_clean['year'] = pd.to_numeric(highest_gross_movies_df_clean['year'], errors='coerce')

# Set 'year' as the index and sort the DataFrame by 'year' in ascending order
highest_gross_movies_df_clean = highest_gross_movies_df_clean.set_index('year').sort_index(ascending=True)

# Print the first few rows to verify the changes
highest_gross_movies_df_clean.head()

,Unnamed: 0,title,Movie Info,Distributor,budget,Domestic Opening (in $),Domestic Sales (in $),International Sales (in $),gross,genre,runtime,license,release_date
year,,,,,,,,,,,,,
1937,966,Snow White and the Seven Dwarfs,Exiled into the dangerous forest by her wicked...,Walt Disney Studios Motion Pictures,December 21 1937 (Domestic),1499000,184925486,184925486,184928542,"['Drama', 'Musical', 'Romance']",2 hr 7 min,PG-13,2001-05-18
1939,344,Gone with the Wind,A sheltered and manipulative Southern belle an...,Metro-Goldwyn-Mayer (MGM),130000000,December 15 1939 (Domestic),200882193,201500000,402382193,"['Adventure', 'Mystery', 'Sci-Fi']",2 hr 4 min,R,2012-05-30
1942,615,Bambi,The story of a young deer growing up in the fo...,RKO Radio Pictures,150000000,August 21 1942 (Domestic),102247150,165200000,267447150,"['Action', 'Drama', 'Mystery', 'Sci-Fi', 'Thri...",2 hr 44 min,R,2017-10-04
1961,802,One Hundred and One Dalmatians,When a litter of Dalmatian puppies are abducte...,Walt Disney Studios Motion Pictures,62000000,January 25 1961 (Domestic),144880014,71000000,215880014,"['Action', 'Crime', 'Drama', 'Thriller']",2 hr 21 min,PG-13,1994-08-05
1967,856,The Jungle Book,Bagheera the Panther and Baloo the Bear have a...,Walt Disney Studios Motion Pictures,85000000,October 18 1967 (Domestic),141843612,64000000,205843612,"['Comedy', 'Romance']",2 hr 16 min,PG-13,2006-12-05

In [62]:
#Check data type
highest_gross_movies_df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 1937 to 2023
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  1000 non-null   int64
 1   title                       1000 non-null   object
 2   Movie Info                  1000 non-null   object
 3   Distributor                 1000 non-null   object
 4   budget                      1000 non-null   object
 5   Domestic Opening (in $)     1000 non-null   object
 6   Domestic Sales (in $)       1000 non-null   int64
 7   International Sales (in $)  1000 non-null   int64
 8   gross                       1000 non-null   int64
 9   genre                       1000 non-null   object
 10  runtime                     1000 non-null   object
 11  license                     1000 non-null   object
 12  release_date                1000 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(8)
memory usage: 109.4+ KB

In [63]:
columns_change= ['Domestic Opening (in $)','Domestic Sales (in $)' ,'International Sales (in $)','gross']
for column in columns_change:
    highest_gross_movies_df_clean[column] = highest_gross_movies_df_clean[column].replace('[^\d.]', '', regex=True).astype(float)

In [64]:


#Clean 'budget' column and convert to float
highest_gross_movies_df_clean['budget'] = highest_gross_movies_df_clean['budget'].replace('[^\d.]', '', regex=True).astype(float)

# Convert 'runtime' column to numeric (total minutes)
def convert_runtime_to_minutes(runtime_str):
    try:
        parts = runtime_str.split()
        hours = int(parts[0]) if 'hr' in parts else 0
        minutes = int(parts[2]) if 'min' in parts else 0
        total_minutes = hours * 60 + minutes
        return total_minutes
    except:
        return None

highest_gross_movies_df_clean['runtime_minutes'] = highest_gross_movies_df_clean['runtime'].apply(convert_runtime_to_minutes)

# Print DataFrame info to verify changes
highest_gross_movies_df_clean.info()
highest_gross_movies_df_clean

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 1937 to 2023
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  1000 non-null   int64
 1   title                       1000 non-null   object
 2   Movie Info                  1000 non-null   object
 3   Distributor                 1000 non-null   object
 4   budget                      1000 non-null   float64
 5   Domestic Opening (in $)     1000 non-null   float64
 6   Domestic Sales (in $)       1000 non-null   float64
 7   International Sales (in $)  1000 non-null   float64
 8   gross                       1000 non-null   float64
 9   genre                       1000 non-null   object
 10  runtime                     1000 non-null   object
 11  license                     1000 non-null   object
 12  release_date                1000 non-null   datetime64[ns]
 13  runtime_minutes             1000 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(2), object(6)
memory usage: 117.2+ KB

,Unnamed: 0,title,Movie Info,Distributor,budget,Domestic Opening (in $),Domestic Sales (in $),International Sales (in $),gross,genre,runtime,license,release_date,runtime_minutes
year,,,,,,,,,,,,,,
1937,966,Snow White and the Seven Dwarfs,Exiled into the dangerous forest by her wicked...,Walt Disney Studios Motion Pictures,211937.0,1499000.0,184925486.0,184925486.0,184928542.0,"['Drama', 'Musical', 'Romance']",2 hr 7 min,PG-13,2001-05-18,127
1939,344,Gone with the Wind,A sheltered and manipulative Southern belle an...,Metro-Goldwyn-Mayer (MGM),130000000.0,151939.0,200882193.0,201500000.0,402382193.0,"['Adventure', 'Mystery', 'Sci-Fi']",2 hr 4 min,R,2012-05-30,124
1942,615,Bambi,The story of a young deer growing up in the fo...,RKO Radio Pictures,150000000.0,211942.0,102247150.0,165200000.0,267447150.0,"['Action', 'Drama', 'Mystery', 'Sci-Fi', 'Thri...",2 hr 44 min,R,2017-10-04,164
1961,802,One Hundred and One Dalmatians,When a litter of Dalmatian puppies are abducte...,Walt Disney Studios Motion Pictures,62000000.0,251961.0,144880014.0,71000000.0,215880014.0,"['Action', 'Crime', 'Drama', 'Thriller']",2 hr 21 min,PG-13,1994-08-05,141
1967,856,The Jungle Book,Bagheera the Panther and Baloo the Bear have a...,Walt Disney Studios Motion Pictures,85000000.0,181967.0,141843612.0,64000000.0,205843612.0,"['Comedy', 'Romance']",2 hr 16 min,PG-13,2006-12-05,136
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023,146,Spider-Man: Across the Spider-Verse,"Miles Morales catapults across the Multiverse,...",Columbia Pictures,312023.0,120663589.0,381311319.0,308499543.0,689810862.0,"['Action', 'Adventure', 'Sci-Fi', 'Thriller']",2 hr 22 min,PG-13,2012-03-08,142
2023,138,Fast X,Dom Toretto and his family are targeted by the...,Universal Pictures,272023.0,67017410.0,145960660.0,558749000.0,704709660.0,"['Action', 'Adventure', 'Sci-Fi']",2 hr 24 min,PG-13,2007-06-28,144
2023,872,The Nun II,1956 - France. A priest is murdered. An evil i...,Warner Bros.,62023.0,32603336.0,69222000.0,135000000.0,204222000.0,"['Action', 'Comedy']",1 hr 53 min,PG-13,2008-06-05,113
2023,195,The Little Mermaid,A young mermaid makes a deal with a sea witch ...,Walt Disney Studios Motion Pictures,42023.0,95578040.0,298172056.0,271420242.0,569592298.0,"['Drama', 'Romance', 'Thriller']",2 hr 5 min,R,2015-02-11,125
2023,943,Insidious: The Red Door,The Lamberts must go deeper into The Further t...,Screen Gems,52023.0,33013036.0,82156962.0,106341657.0,188498619.0,"['Action', 'Adventure', 'Thriller']",1 hr 42 min,0,1988-05-25,102

In [65]:
gross_filtered_data_90_95 = highest_gross_movies_df_clean.loc[1990:1995]
gross_filtered_data_90_95.head()

,Unnamed: 0,title,Movie Info,Distributor,budget,Domestic Opening (in $),Domestic Sales (in $),International Sales (in $),gross,genre,runtime,license,release_date,runtime_minutes
year,,,,,,,,,,,,,,
1990,889,The Hunt for Red October,"In November 1984, the Soviet Union's best subm...",Paramount Pictures,30000000.0,17161835.0,122012643.0,78500000.0,200512643.0,"['Action', 'Adventure', 'Thriller']",2 hr 15 min,0,1990-03-02,135
1990,774,Presumed Innocent,As a lawyer investigates the murder of a colle...,Warner Bros.,271990.0,11718981.0,86303188.0,135000000.0,221303188.0,"['Action', 'Sci-Fi', 'Thriller']",1 hr 49 min,PG-13,2017-10-12,109
1990,316,Dances with Wolves,"Lieutenant John Dunbar, assigned to a remote w...",Orion Pictures,22000000.0,598257.0,184208848.0,240000000.0,424208848.0,"['Adventure', 'Drama', 'Western']",3 hr 1 min,0,1990-11-09,181
1990,275,Pretty Woman,A man in a legal but hurtful business needs an...,Walt Disney Studios Motion Pictures,14000000.0,11280591.0,178406268.0,285000000.0,463406268.0,"['Comedy', 'Romance']",1 hr 59 min,R,1990-03-23,119
1990,883,Kindergarten Cop,A tough cop must pose as a kindergarten teache...,Universal Pictures,15000000.0,7918560.0,91457688.0,110500000.0,201957688.0,"['Action', 'Comedy', 'Crime']",1 hr 51 min,0,1990-12-22,111

In [66]:
gross_filtered_data_95_00 = highest_gross_movies_df_clean.loc[1995:2000]
gross_filtered_data_95_00.head()

,Unnamed: 0,title,Movie Info,Distributor,budget,Domestic Opening (in $),Domestic Sales (in $),International Sales (in $),gross,genre,runtime,license,release_date,runtime_minutes
year,,,,,,,,,,,,,,
1995,938,Outbreak,Army doctors struggle to find a cure for a dea...,Warner Bros.,101995.0,13420387.0,67659560.0,122200000.0,189859560.0,"['Action', 'Horror', 'Sci-Fi', 'Thriller']",1 hr 52 min,R,2000-08-04,112
1995,460,Batman Forever,Batman must battle former district attorney Ha...,Warner Bros.,100000000.0,52784433.0,184069126.0,152498032.0,336567158.0,"['Action', 'Adventure']",2 hr 1 min,PG-13,1995-06-16,121
1995,433,GoldenEye,Years after a friend and fellow 00 agent is ki...,Metro-Goldwyn-Mayer (MGM),171995.0,26205007.0,106429941.0,245764093.0,352194034.0,"['Action', 'Adventure', 'Animation', 'Comedy',...",1 hr 37 min,PG,2016-05-11,97
1995,450,Pocahontas,An English soldier and the daughter of an Algo...,Walt Disney Studios Motion Pictures,161995.0,2689714.0,141579773.0,204500000.0,346079773.0,"['Action', 'Adventure', 'Thriller']",1 hr 47 min,PG-13,2017-01-18,107
1995,622,Waterworld,In a future where the polar ice-caps have melt...,Universal Pictures,175000000.0,21171780.0,88246220.0,175972000.0,264218220.0,"['Action', 'Adventure', 'Sci-Fi']",2 hr 15 min,PG-13,1995-07-28,135

In [67]:
gross_filtered_data_00_05 = highest_gross_movies_df_clean.loc[2000:2005]
gross_filtered_data_00_05.head()

,Unnamed: 0,title,Movie Info,Distributor,budget,Domestic Opening (in $),Domestic Sales (in $),International Sales (in $),gross,genre,runtime,license,release_date,runtime_minutes
year,,,,,,,,,,,,,,
2000,558,X-Men,In a world where mutants (evolved super-powere...,Twentieth Century Fox,75000000.0,54471475.0,157299718.0,139039810.0,296339528.0,"['Action', 'Adventure', 'Sci-Fi']",1 hr 44 min,PG-13,2000-07-13,104
2000,566,What Lies Beneath,The wife of a university research scientist be...,DreamWorks Distribution,100000000.0,29702959.0,155464351.0,135956000.0,291420351.0,"['Drama', 'Horror', 'Mystery', 'Thriller']",2 hr 10 min,PG-13,2000-07-21,130
2000,713,Gone in 60 Seconds,A retired master car thief must come back to t...,Walt Disney Studios Motion Pictures,90000000.0,25336048.0,101648571.0,135553728.0,237202299.0,"['Action', 'Crime', 'Thriller']",1 hr 58 min,PG-13,2000-06-09,118
2000,384,What Women Want,"A cocky, chauvinistic advertising executive ma...",Paramount Pictures,70000000.0,33614543.0,182811707.0,191300000.0,374111707.0,"['Comedy', 'Fantasy', 'Romance']",2 hr 7 min,PG-13,2000-12-15,127
2000,805,Vertical Limit,"A climber must rescue his sister on top of K2,...",Sony Pictures Entertainment (SPE),75000000.0,15507845.0,69243859.0,146420000.0,215663859.0,"['Action', 'Adventure', 'Drama', 'Sport', 'Thr...",2 hr 4 min,PG-13,2000-12-08,124

In [68]:
gross_filtered_data_05_10 = highest_gross_movies_df_clean.loc[2005:2010]
gross_filtered_data_05_10.head()

,Unnamed: 0,title,Movie Info,Distributor,budget,Domestic Opening (in $),Domestic Sales (in $),International Sales (in $),gross,genre,runtime,license,release_date,runtime_minutes
year,,,,,,,,,,,,,,
2005,932,The Longest Yard,Prison inmates form a football team to challen...,Paramount Pictures,82000000.0,47606480.0,158119460.0,33347096.0,191466556.0,"['Comedy', 'Crime', 'Sport']",1 hr 53 min,PG-13,2005-05-27,113
2005,954,Walk the Line,A chronicle of country music legend Johnny Cas...,Twentieth Century Fox,28000000.0,22347341.0,119519402.0,67278584.0,186797986.0,"['Biography', 'Drama', 'Music', 'Romance']",2 hr 16 min,PG-13,2005-02-02,136
2005,213,Madagascar,A group of animals who have spent all their li...,DreamWorks Distribution,272005.0,47224594.0,193595521.0,348468325.0,542063846.0,"['Adventure', 'Drama', 'Family', 'Fantasy', 'R...",1 hr 45 min,PG,2015-03-11,105
2005,200,King Kong,A greedy film producer assembles a team of mov...,Universal Pictures,207000000.0,50130145.0,218080025.0,338826353.0,556906378.0,"['Action', 'Adventure', 'Romance']",3 hr 7 min,PG-13,2005-12-14,187
2005,766,Flightplan,A bereaved woman and her daughter are flying h...,Walt Disney Studios Motion Pictures,232005.0,24629938.0,89707299.0,133680000.0,223387299.0,"['Drama', 'Fantasy', 'Horror']",2 hr 3 min,R,1994-11-11,123

In [69]:
gross_filtered_data_10_15 = highest_gross_movies_df_clean.loc[2010:2015]
gross_filtered_data_10_15.head()

,Unnamed: 0,title,Movie Info,Distributor,budget,Domestic Opening (in $),Domestic Sales (in $),International Sales (in $),gross,genre,runtime,license,release_date,runtime_minutes
year,,,,,,,,,,,,,,
2010,54,Harry Potter and the Deathly Hallows: Part 1,"As Harry, Ron and Hermione race against time a...",Warner Bros.,172010.0,125017372.0,296374621.0,680695761.0,977070383.0,"['Action', 'Adventure', 'Comedy', 'Fantasy']",1 hr 59 min,PG-13,2017-12-20,119
2010,348,TRON: Legacy,The son of a virtual world designer goes looki...,Walt Disney Studios Motion Pictures,170000000.0,44026211.0,172062763.0,228001089.0,400063852.0,"['Action', 'Adventure', 'Sci-Fi']",2 hr 5 min,PG,2010-12-16,125
2010,797,Valentine's Day,Intertwining couples and singles in Los Angele...,Warner Bros.,52000000.0,56260707.0,110528528.0,106000000.0,216528528.0,"['Comedy', 'Romance']",2 hr 5 min,PG-13,2010-02-10,125
2010,142,The Twilight Saga: Eclipse,As a string of mysterious killings grips Seatt...,Summit Entertainment,68000000.0,64832191.0,300531751.0,397978074.0,698509825.0,"['Action', 'Adventure', 'Drama', 'Fantasy', 'R...",2 hr 4 min,PG-13,2010-06-30,124
2010,91,Inception,A thief who steals corporate secrets through t...,Warner Bros.,160000000.0,62785337.0,292587330.0,546443300.0,839030630.0,"['Action', 'Adventure', 'Sci-Fi', 'Thriller']",2 hr 28 min,PG-13,2010-07-15,148

In [70]:
gross_filtered_data_15_20 = highest_gross_movies_df_clean.loc[2015:2020]
gross_filtered_data_15_20.head()

,Unnamed: 0,title,Movie Info,Distributor,budget,Domestic Opening (in $),Domestic Sales (in $),International Sales (in $),gross,genre,runtime,license,release_date,runtime_minutes
year,,,,,,,,,,,,,,
2015,299,Terminator Genisys,"When John Connor, leader of the human resistan...",Paramount Pictures,155000000.0,27018486.0,89760956.0,350842581.0,4.406035e+08,"['Action', 'Adventure', 'Sci-Fi', 'Thriller']",2 hr 6 min,PG-13,2015-06-25,126
2015,578,Pitch Perfect 2,After a humiliating command performance at The...,Universal Pictures,29000000.0,69216890.0,184296230.0,102847849.0,2.871441e+08,"['Comedy', 'Music']",1 hr 55 min,PG-13,2015-05-07,115
2015,884,Straight Outta Compton,The rap group NWA emerges from the mean street...,Universal Pictures,28000000.0,60200180.0,161197785.0,40437206.0,2.016350e+08,"['Biography', 'Drama', 'History', 'Music']",2 hr 27 min,R,2015-08-14,147
2015,14,Avengers: Age of Ultron,When Tony Stark and Bruce Banner try to jump-s...,Walt Disney Studios Motion Pictures,250000000.0,191271109.0,459005868.0,946012180.0,1.405018e+09,"['Action', 'Adventure', 'Sci-Fi']",2 hr 21 min,PG-13,2015-04-22,141
2015,25,Minions,"Minions Stuart, Kevin, and Bob are recruited b...",Universal Pictures,74000000.0,115718405.0,336045770.0,823398892.0,1.159445e+09,"['Adventure', 'Animation', 'Comedy', 'Crime', ...",1 hr 31 min,PG,2015-04-09,91

In [71]:
gross_filtered_data_20_24 = highest_gross_movies_df_clean.loc[2020:2024]
gross_filtered_data_20_24.head()

,Unnamed: 0,title,Movie Info,Distributor,budget,Domestic Opening (in $),Domestic Sales (in $),International Sales (in $),gross,genre,runtime,license,release_date,runtime_minutes
year,,,,,,,,,,,,,,
2020,703,Legend of Deification,"Banished to the mortal world, a warrior has to...",Well Go USA Entertainment,82500000.0,120203.0,214670.0,240431685.0,240646355.0,"['Comedy', 'Drama', 'Fantasy', 'Romance']",1 hr 47 min,PG-13,2006-06-22,107
2020,894,Shock Wave 2,"A terrorist expert in explosives, whose gang h...","December 24, 2020 (China, APAC)",58000000.0,2.0,198921659.0,198921659.0,199006387.0,"['Action', 'Comedy', 'Crime', 'Thriller']",1 hr 51 min,PG-13,2010-10-14,111
2020,317,"My People, My Homeland","In different parts of rural China, various peo...","October 1, 2020 (China)",22000000.0,233.0,422390820.0,422390820.0,424208848.0,"['Adventure', 'Drama', 'Western']",3 hr 1 min,0,1990-11-09,181
2020,863,Birds of Prey,"After splitting with the Joker, Harley Quinn j...",Warner Bros.,84500000.0,33010017.0,84172791.0,121200000.0,205372791.0,"['Action', 'Comedy', 'Crime']",1 hr 49 min,R,2020-02-05,109
2020,277,The Eight Hundred,From the acclaimed filmmaker behind Mr. Six co...,CMC Pictures,212020.0,118161.0,372755.0,461048804.0,461421559.0,"['Adventure', 'Animation', 'Comedy', 'Family',...",1 hr 57 min,0,2006-06-08,117

In [72]:
highest_gross_movies_df_clean.to_csv('clean_highest_gross_movies_df_clean..csv', index=True)