In [8]:
import pandas as pd
from pathlib import Path
import os

In [9]:
# Directory containing all need csv files
directory = '/Users/mac/CLASS/Project-1/Movie_Datasets'

In [10]:
# A list to contain all the dataframes 
dfs = []

In [18]:


# Loop through all the files in directory
for filename in os.listdir(directory):
    if filename.endswith(".csv"):
        filepath = os.path.join(directory, filename)
        
        # Read csv file into a DataFrame
        df = pd.read_csv(filepath)
        
        # Append DF to list
        dfs.append(df)

# Concatenate all DFs into a single DF
combined_df = pd.concat(dfs, ignore_index=True)

# Print combined DataFrame
combined_df

,movie_id,movie_name,year,certificate,runtime,genre,rating,description,director,director_id,...,Running Time,License,name,released,score,writer,country,budget,gross,company
0,tt5433140,Fast X,2023,NaN,NaN,"Action, Crime, Mystery",NaN,Dom Toretto and his family are targeted by the...,Louis Leterrier,/name/nm0504642/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt11564570,Glass Onion,2022,PG-13,139 min,"Comedy, Crime, Drama",7.2,Famed Southern detective Benoit Blanc travels ...,Rian Johnson,/name/nm0426059/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,tt10365998,Infinity Pool,2023,R,117 min,"Crime, Horror, Mystery",6.5,James and Em Foster are enjoying an all-inclus...,Brandon Cronenberg,/name/nm0188722/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,tt14138650,The Pale Blue Eye,2022,R,128 min,"Crime, Horror, Mystery",6.6,A world-weary detective is hired to investigat...,Scott Cooper,/name/nm0178376/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,tt15789492,Infiesto,2023,TV-MA,96 min,"Crime, Drama, Thriller",5.5,Two detectives are called to a small mining to...,Patxi Amezcua,/name/nm0025538/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1130899,tt27036537,The Beauty of a Woman,NaN,NaN,NaN,Biography,NaN,"In 1966 France, actress Audrey Hepburn navigat...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1130900,tt27047718,Armandinho Muito Mais Que O Azul De Zanzibar,2021,NaN,90 min,Biography,NaN,Add a Plot,Daniel Talento,/name/nm2017349/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1130901,tt27050530,Baraa,NaN,NaN,NaN,"Biography, Comedy, Drama",NaN,Baraa is a half-Bahraini half-Saudi man who ha...,Loay cielo Tattan,/name/nm14517689/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1130902,tt27052307,Maserati: a Racing Life,NaN,NaN,NaN,Biography,NaN,Explores the family that is responsible for th...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1130903,tt27053625,Anwar,NaN,NaN,NaN,Biography,NaN,"The life of the Bahraini actor ""Anwar Ahmed"" i...",Loay cielo Tattan,/name/nm14517689/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1130904 entries, 0 to 1130903
Data columns (total 36 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   movie_id                    1104900 non-null  object
 1   movie_name                  1104888 non-null  object
 2   year                        968160 non-null   object
 3   certificate                 312573 non-null   object
 4   runtime                     800430 non-null   object
 5   genre                       1127904 non-null  object
 6   rating                      715587 non-null   object
 7   description                 1104900 non-null  object
 8   director                    1045797 non-null  object
 9   director_id                 1022793 non-null  object
 10  star                        951816 non-null   object
 11  star_id                     949326 non-null   object
 12  votes                       715821 non-null   float64
 13  gross(in $)                 75117 non-null    float64
 14  Unnamed: 0                  3000 non-null     float64
 15  Title                       3000 non-null     object
 16  Movie Info                  3000 non-null     object
 17  Year                        3000 non-null     float64
 18  Distributor                 2997 non-null     object
 19  Budget (in $)               3000 non-null     object
 20  Domestic Opening (in $)     3000 non-null     object
 21  Domestic Sales (in $)       3000 non-null     float64
 22  International Sales (in $)  3000 non-null     float64
 23  World Wide Sales (in $)     3000 non-null     float64
 24  Release Date                3000 non-null     object
 25  Genre                       3000 non-null     object
 26  Running Time                3000 non-null     object
 27  License                     2829 non-null     object
 28  name                        23004 non-null    object
 29  released                    22998 non-null    object
 30  score                       22995 non-null    float64
 31  writer                      22995 non-null    object
 32  country                     22995 non-null    object
 33  budget                      16491 non-null    float64
 34  gross                       22437 non-null    float64
 35  company                     22953 non-null    object
dtypes: float64(10), object(26)
memory usage: 310.6+ MB

In [20]:
combined_df.describe()

,votes,gross(in $),Unnamed: 0,Year,Domestic Sales (in $),International Sales (in $),World Wide Sales (in $),score,budget,gross
count,7.158210e+05,7.511700e+04,3000.000000,3000.000000,3.000000e+03,3.000000e+03,3.000000e+03,22995.000000,1.649100e+04,2.243700e+04
mean,1.214262e+04,2.963822e+07,499.500000,2008.181000,1.646405e+08,2.640890e+08,4.228430e+08,6.390411,3.558988e+07,7.850054e+07
std,6.598877e+04,6.302977e+07,288.723115,10.582323,1.197142e+08,2.133136e+08,3.053825e+08,0.968800,4.145478e+07,1.657177e+08
min,5.000000e+00,1.000000e+00,0.000000,1937.000000,6.752000e+03,2.450000e+07,1.799689e+08,1.900000,3.000000e+03,3.090000e+02
25%,3.900000e+01,3.141700e+05,249.750000,2002.000000,9.572506e+07,1.321190e+08,2.272899e+08,5.800000,1.000000e+07,4.531320e+06
50%,2.050000e+02,5.017971e+06,499.500000,2010.000000,1.349169e+08,1.941077e+08,3.197148e+08,6.500000,2.050000e+07,2.020576e+07
75%,1.475000e+03,3.105360e+07,749.250000,2016.000000,1.983993e+08,3.188993e+08,4.852363e+08,7.100000,4.500000e+07,7.601905e+07
max,2.675531e+06,9.366622e+08,999.000000,2023.000000,9.366622e+08,2.138484e+09,2.923706e+09,9.300000,3.560000e+08,2.847246e+09

In [21]:
combined_df.head()

,movie_id,movie_name,year,certificate,runtime,genre,rating,description,director,director_id,...,Running Time,License,name,released,score,writer,country,budget,gross,company
0,tt5433140,Fast X,2023,NaN,NaN,"Action, Crime, Mystery",NaN,Dom Toretto and his family are targeted by the...,Louis Leterrier,/name/nm0504642/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt11564570,Glass Onion,2022,PG-13,139 min,"Comedy, Crime, Drama",7.2,Famed Southern detective Benoit Blanc travels ...,Rian Johnson,/name/nm0426059/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,tt10365998,Infinity Pool,2023,R,117 min,"Crime, Horror, Mystery",6.5,James and Em Foster are enjoying an all-inclus...,Brandon Cronenberg,/name/nm0188722/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,tt14138650,The Pale Blue Eye,2022,R,128 min,"Crime, Horror, Mystery",6.6,A world-weary detective is hired to investigat...,Scott Cooper,/name/nm0178376/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,tt15789492,Infiesto,2023,TV-MA,96 min,"Crime, Drama, Thriller",5.5,Two detectives are called to a small mining to...,Patxi Amezcua,/name/nm0025538/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
combined_df.columns

Index(['movie_id', 'movie_name', 'year', 'certificate', 'runtime', 'genre',
       'rating', 'description', 'director', 'director_id', 'star', 'star_id',
       'votes', 'gross(in $)', 'Unnamed: 0', 'Title', 'Movie Info', 'Year',
       'Distributor', 'Budget (in $)', 'Domestic Opening (in $)',
       'Domestic Sales (in $)', 'International Sales (in $)',
       'World Wide Sales (in $)', 'Release Date', 'Genre', 'Running Time',
       'License', 'name', 'released', 'score', 'writer', 'country', 'budget',
       'gross', 'company'],
      dtype='object')